<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}} base!
  </h1>
</div>
<app-heroes></app-heroes>
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

<button type="button" class="btn btn-success">Button</button>

<!--<div class="container-fluid"> &lt;!&ndash; container centers content on large screens &ndash;&gt;
  <div class="row">             &lt;!&ndash; responsive row has 12 columns by default &ndash;&gt;
    <div class="col-md-6">
      test&lt;!&ndash; uses 6 columns on medium and larger screens... &ndash;&gt;
    </div>
    <div class="col-md-6">
      test2&lt;!&ndash; uses 12 columns on smaller than medium screens &ndash;&gt;
    </div>
  </div>
</div>-->

<router-outlet></router-outlet>
